<fieldset ng-class="{'form-inline': !itemType}">
  <legend>
    {{ name }}
    <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </legend>
  <div ng-repeat="item in items track by $index" class="pull-left" style="margin-right: 5px">
    <div ng-if="itemType == 'object'" class="pull-left">
      <object-form obj="item" skel="itemSkel" />
    </div>
    <div ng-if="!itemType" class="form-group">
      <input type="text" class="form-control input-sm" ng-model="items[$index]"></input>
    </div>
    <button type="button" class="btn btn-danger btn-sm"
            ng-click="remove($index)">
      <span class="glyphicon glyphicon-remove" />
    </button>
  </div>
</fieldset>
