<fieldset class="form-inline">
  <legend>
    api
  </legend>
  <div class="form-group">
    <label>base_url</label>
    <input class="form-control" ng-model="info.api.base_url" />
  </div>
  <div class="form-group">
    <label>path</label>
    <input class="form-control" ng-model="info.api.path" />
  </div>
  <list-form name="params"
             items="info.api.params"
             item-skel="typeFactory.string"></list-form>
</fieldset>
