<div class="form-group">
  <label class="col-sm-2 control-label">module</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.module" ng-required="true"/>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">method</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.method"/>
  </div>
</div>
<list-form name="args"
           items="info.args"
           item-skel="typeFactory.string"></list-form>
