<div class="form-group">
  <label class="col-sm-2 control-label">text</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.text" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">id</label>
  <div class="col-sm-10">
    <input type="number" class="form-control" ng-model="info.id" ng-required="true" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">notice_id</label>
  <div class="col-sm-10">
    <input type="number" class="form-control" ng-model="info.notice_id" />
  </div>
</div>
