<div class="form-group">
  <label class="col-sm-2 control-label">name</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.name" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">text</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.text" />
  </div>
</div>
