<div ng-controller="inputInfoCtrl as input">
  <div class="form-group">
    <label class="col-sm-2 control-label">name</label>
    <div class="col-sm-10">
      <input class="form-control" ng-model="info.name" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">label</label>
    <div class="col-sm-10">
      <input class="form-control" ng-model="info.label" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">help</label>
    <div class="col-sm-10">
      <textarea rows="2" class="form-control" ng-model="info.help"></textarea>
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-checked="info.api" ng-click="input.toggleApi()" /> api
    </label>
  </div>
  <div ng-if="info.api">
    <ng-include src="'partials/infos/api.html'" />
  </div>
</div>
