<div class="form-group">
  <label class="col-sm-2 control-label">text</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.text" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">url</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.url" ng-required="true" />
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="info.window" /> Open in new window
      </label>
    </div>
  </div>
</div>
