<div class="form-group">
  <label class="col-sm-2 control-label">name</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.name" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">label</label>
  <div class="col-sm-10">
    <input class="form-control" ng-model="info.label" />
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">help</label>
  <div class="col-sm-10">
    <textarea rows="2" class="form-control" ng-model="info.help"></textarea>
  </div>
</div>
<fieldset class="form-inline" ng-controller="radioChoiceCtrl as radio">
  <legend>choices</legend>
  <div ng-repeat="choice in info.choices">
    <div class="form-group">
      <label class="col-sm-2 control-label">key</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="choice.key" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">name</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="choice.name" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">desc</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="choice.desc" />
      </div>
    </div>
    <button type="button" class="btn btn-danger btn-sm" ng-click="radio.removeChoice($index)">
      <span class="glyphicon glyphicon-remove" />
    </button>
  </div>
  <button type="button" class="btn btn-primary" ng-click="radio.addChoice()">
    Add choice
  </button>
</fieldset>
