<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="vendor/css/ng-sortable.css" rel="stylesheet">
    <style>
      body {
        background: #eee;
      }
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 800  ;
        background-color: rgba(0,0,0,0.5);
      }
      .popup {
        width: 400px;
        position: fixed;
        z-index: 900;
        top: 50%;
        left: 50%;
        margin-left: -200px;
        margin-top: -100px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      }
      legend {
        top: 5px;
        position:absolute;
        padding: 5px;
        width: 98%;
        font-size: 15px;
        font-weight: bold;
        border: 0;
        background: white;
      }
      fieldset {
        position: relative;
        padding: 10px;
        padding-top: 45px;
        margin-bottom: 5px;
        background: white;
        border-left: 5px solid #aaa;
      }
      legend {
      }
      legend > button, h2 > button {
        float: right;
      }
      .form-item {
        border: 1px solid #aaa;
        padding: 5px;
        margin-bottom: 5px;
      }
      #metadata {
        background: #eee;
      }
      .form-inline .form-group {
        margin: 0;
      }
      h2 .alert {
        font-size: 15px;
        padding: 7px;
      }
      #tree ul {
        padding-left: 15px;
      }
      #tree li.active {
        font-weight: bold;
        color: #2D6BA0;
      }
      #tree li {
        list-style-type: none;
      }
      #tree li span {
        cursor: pointer;
      }
      #tree li .node:hover {
        font-weight: bold;
      }
      #tree li .edge-mdata {
        color: #777;
      }
      #tree li .node-order {
        color: #888;
        font-weight: bold;
      }
      #tree li .node-uuid {
        color: #555;
      }
      #tree li .node-title {
        font-weight: bold;
      }
      span.glyphicon-remove {
        cursor: pointer;
      }
      #tree li .action {
        display: none;
      }
      #tree li:hover .action {
        display: inline;
      }
    </style>
  </head>
  <body ng-app="app">
    <dialogs></dialogs>
    <div class="container-fluid">
      <div class="row" ng-controller="globalCtrl as global">
        <div id="tree" class="col-md-5">
          <h2>
            <button type="submit" class="btn btn-default" ng-click="global.reload()">Refresh</button>
            <button type="button" class="btn btn-primary" ng-click="global.newNode()">New</button>
            Nodes
          </h2>
          <ul ng-repeat="tNode in global.rootNodes">
            <tree node="tNode" />
          </ul>
        </div>
        <div id="node" class="col-md-7 bs-loading-container" bs-loading-overlay>
          <node node="global.node"></node>
          <node-edges node="global.node"></node-edges>
        </div>
      </div>
    </div>
    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/angular-resource.js"></script>
    <script src="vendor/js/ng-sortable.js"></script>
    <script src="vendor/js/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script src="vendor/js/angular-loading-overlay.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/node.js"></script>
    <script src="js/infos.js"></script>
    <script src="js/api.js"></script>
    <script src="js/tree.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
