<div ng-if="node">
  <h2>Node edges</h2>
  <div ng-repeat="edge in edges"> 
    <form class="form-horizontal" ng-submit="saveEdge($index)">
      <fieldset>
        <legend>
          <button type="button" class="btn btn-danger btn-sm" ng-click="deleteEdge($index)">
            <span class="glyphicon glyphicon-remove" />
          </button>
          <button type="submit" class="btn btn-primary btn-sm">
            Save
          </button>
          {{ edge.source | nodeTitle }} ({{ edge.source | limitTo:6 }}) -> 
          {{ edge.target | nodeTitle }} ({{ edge.target | limitTo:6 }})
        </legend>
        <div ng-repeat="(key, value) in edge.context" class="form-inline">
          <div class="form-group">
            <label class="col-sm-2 control-label">key</label>
            <div class="col-sm-10">
              <input class="form-control" ng-model="key" ng-required="true" readonly/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">value</label>
            <div class="col-sm-10">
              <input class="form-control" ng-model="edge.context[key]" ng-required="true"/>
            </div>
          </div>
          <button type="button" class="btn btn-danger btn-sm" ng-click="removeFromContext($parent.$index, key)">
            <span class="glyphicon glyphicon-remove" />
          </button>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <label class="col-sm-2 control-label">key</label>
            <div class="col-sm-10">
              <input class="form-control" ng-model="contextKey[$index]"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">value</label>
            <div class="col-sm-10">
              <input class="form-control" ng-model="contextValue[$index]"/>
            </div>
          </div>
          <button type="button" class="btn btn-default btn-sm" ng-click="addEdgeContext($index)">
            Add
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
