<fieldset>
  <legend data-as-sortable-item-handle>
    <button type="button" class="btn btn-danger btn-sm" ng-click="removeInfo(index)">
      <span class="glyphicon glyphicon-remove" />
    </button>
    {{ infoTypes[info.type].name }}
  </legend>
  <ng-include src="template"></ng-include>
  <list-form name="tags"
             items="info.tags"
             item-skel="typeFactory.string"></list-form>
</fieldset>
