<div data-as-sortable="{}" data-ng-model="infos">
  <div ng-repeat="info in infos" data-as-sortable-item>
    <info-form info="info" index="$index" class="info"></info-form>
  </div>
</div>
<div class="btn-group" uib-dropdown>
  <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
    Add info <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
    <li ng-repeat="(type, typeInfos) in infoTypes">
      <a href="#" ng-click="addInfo(type)">{{ typeInfos.name }}</a>
    </li>
  </ul>
</div>
