<form ng-submit="$ctrl.save()" class="form-horizontal" ng-if="$ctrl.data">
  <h2>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.delete()">Delete</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.duplicate()">Duplicate</button>
    <button type="submit" class="btn btn-primary">Save</button>
    Node metadata
    <span class="alert" ng-class="$ctrl.status.style">{{ $ctrl.status.label }}</span>
  </h2>
  <div class="form-group">
    <label for="id" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id" ng-model="$ctrl.data.id" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" ng-model="$ctrl.data.title"/>
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
      <select ng-model="$ctrl.data.type" class="form-control" ng-required="true">
        <option value="info">Info</option>
        <option value="choice">Choice</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Order</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="order" ng-model="$ctrl.data.order"/>
    </div>
  </div>
  <infos-form infos="$ctrl.data.infos"></infos-form>
  <h2>Expect</h2>
  <list-form name="values"
             items="$ctrl.data.expect.values"
             item-type="object"
             item-skel="$ctrl.typeFactory.nodeValue"></list-form>
</form>
