<li ng-class="{active: tNode.active}">
  <span class="glyphicon"
        ng-if="tNode.children.length > 0"
        ng-click="toggleNode(tNode, $event)"
        ng-class="{'glyphicon-triangle-bottom': tNode.open,
                   'glyphicon-triangle-right': !tNode.open}">
  </span>
  <span class="node" ng-click="tree.showNode(tNode)" >
    <span class="node-title">{{ tNode.title }}</span>
    <span class="node-uuid">({{ tNode.id | limitTo:6 }})</span>
    <span class="node-order">[{{ tNode.order }}]</span>
    <span class="edge-mdata">{{ tNode.edgeContext(parent) }}</span>
  </span>
  <a class="action"
     title="Add new child node"
     ng-click="tree.addChildNode(tNode)">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
  <a class="action"
     title="Link to active node as child"
     ng-click="tree.addEdge(tNode)">
    <span class="glyphicon glyphicon-link"></span>
  </a>
  <a class="action"
     title="Remove link with parent node"
     ng-click="tree.deleteEdge(tNode, parent)">
    <span class="text-danger glyphicon glyphicon-link"></span>
  </a>
  <a class="action"
     title="Delete node"
     ng-click="tree.deleteNode(tNode)">
    <span class="text-danger glyphicon glyphicon-remove"></span>
  </a>
</li>
<div ng-if="tNode.open">
  <ul ng-repeat="child in tNode.children track by $index">
    <tree node="child" parent="tNode" />
  </ul>
</div>
